.navbar {
    background-color: rgb(105, 167, 145);
}
.list-btn,.menu-btn {
    color: beige !important;
}
.list-btn:hover,
.menu-btn:hover,
.search-btn:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: black !important;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: black !important;
}